Mopidy-dLeyna
Mopidy-Jellyfin
Mopidy-Local
Mopidy-MPD
Mopidy-MusicBox-Webclient
Mopidy-Party
Mopidy-Podcast
#Mopidy-RadioNet
Mopidy-Scrobbler
Mopidy-Soundcloud
Mopidy-TuneIn
Mopidy-Youtube
Mopidy-YTMusic
ytmusicapi
youtube_dl
