@media all
{
	body {
		margin: 0;
		color: #444;
		background-color: #eee;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #333;
		line-height: 1.1;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: normal;
		margin: .125em 0 .25em;
	}

	.branding-title,
	#site-title {
		font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: bold;
	}

	.branding-title ~ .site-info,
	#site-title ~ .site-info {
		margin-top: 0;
	}

	.site-info,
	footer p {
		font-size: .875em;
		color: #888;
		color: rgba(17, 17, 17, .5);
		font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
		line-height: 1;
	}

	.mount-header ~ .stream-description {
		margin-top: 0;
	}

	.stream-description {
		font-size: .875em;
		line-height: 1;
		color: #888;
		color: rgba(17, 17, 17, .5);
	}

	.mount-header {
		position: relative;
	}

	.mount-header span {
		display: inline-block;
		float: left;
	}

	.server-name {
		color: #444;
	}

	.stripe {
		border-top: 2px solid #777;
		width: 20px;
		line-height: 1;
		margin-top: .5em;
		position: relative;
	}

	.lt {
		margin-right: .5em;
	}

	.rt {
		margin-left: .5em;
	}

	.lt:after {
		content: "";
		width: 6px;
		height: 6px;
		background: #777;
		border-radius: 5px;
		position: absolute;
		top: -4px;
		right: 0;
	}

	.rt:before {
		content: "";
		width: 6px;
		height: 6px;
		background: #777;
		border-radius: 5px;
		position: absolute;
		top: -4px;
	}

	a, a:link {
		color: #dc3d5a;
		text-decoration: none;
	}

	a:hover {
		color: #dc3d5a;
		border-bottom: 1px solid #dc3d5a;
	}

	a:active {
		color: #eee;
		background-color: #dc3d5a;
	}

	#container {
		padding: 0 1px 2em;
		max-width: 40em;
		margin: 0 auto;
		text-align: center;
	}

	.mount-point {
		font-size: .875em;
		margin: 0 0 1em;
		background-color: #FFF;
		padding: 1em 1em 2em;

		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}

	.listen span {
		color: #BBB;
		color: rgba(4, 4, 4, .27);
	}

	header span,
	header sup {
		color: #BBB;
		color: rgba(4, 4, 4, .27);
	}

	header sup,
	.mount-name sup {
		font-size: .75em;
		padding: 0 .25em;
	}

	.mount-header {
		font-size: 1.5em;
		text-align: center;
	}

	.playlist {
		margin-right: .75em;
	}

	.mount-point-data p {
		margin: 0;
	}

	.more-info {
		margin-top: .5em;
	}

	.more-info,
	.more-info a,
	.more-info a:link {
		color: #BBB;
	}
}

